# Currently test that require a server are only implemented to work
# with OpenLDAP v2.4.xx or higher. Edit this file so the tests
# can find the executable and know what type of server it is

# Set this to the full path of your LDAP server executable
# (e.g '/usr/sbin/slapd')
$SERVER_EXE = '<path to ldap server executable>';

# This should be one of
# * openldap[+ssl][+ipc][+sasl]
# options  are appended with '+' signs
$SERVER_TYPE = 'openldap';

# Change this if your host cannot be contacted as localhost
# Some tests may fail if the name does not resolve to an IPv4 and an IPv6 address
#$HOST = 'localhost';

# Set this to the directory where your OpenLDAP schema files are located
$SLAPD_SCHEMA_DIR = '';

# OpenLDAP DB type: default is mdb, alternatives: hdb, bdb, ...
#$SLAPD_DB = 'mdb';

# Set this to the slapd module directory if your $SLAPD_DB is dynamically built
# (e.g. '/usr/lib/ldap/')
$SLAPD_MODULE_DIR = '';

# for LDIF http support:
# - set this to the value of a jpeg photo served by your web server
#   (e.g. data/man.jpg or data/woman.jpg)
#$HTTP_JPEG_URL = 'http://localhost/perl-ldap/jpegPhoto.jpeg';

# - set this to the value of a file containing text
#   (e.g. data/postalAddress.txt)
#$HTTP_TEXT_URL = 'http://localhost/perl-ldap/postalAddress.txt';

$EXTERNAL_TESTS = 0;

1;
